.container-home {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(79deg, #3d70b2, #5596e6 45%, #51a3df 56%, #51a4df 57%, #41d6c3);
}
.box-home{
    text-align: center;
    padding-top: 212px;

}
.box-form {
    margin: 0 auto;
    width: 680px;
}
.box-form .form-ctrl span{
    cursor: pointer;
}
.box-form .form-ctrl span.icon-search{
    position: absolute;
    top: 16px;
    left: 28px;
}
.box-form .form-ctrl span.icon-cancel{
    position: absolute;
    top: 13px;
    right: 155px;
}
.box-form .text-hello{
    color: white;
    margin-bottom: 30px;
    font-size: 31px;
    font-weight: 300;
    height: 41px;
    line-height: 37px;
    margin-top: -56px;
}
.box-form .form-ctrl{
    position: relative;
}
.box-form .form-ctrl input {
    width: 550px;
    height: 51px;
    border: 0;
    background-color: white;
    padding-left: 70px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #152934;
    font-weight: 700;
}
.box-form .form-ctrl input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #5a6872;
    font-weight: 400;
}
.box-form .form-ctrl input::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #5a6872;
    font-weight: 400;
}
.box-form .form-ctrl input:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #5a6872;
    font-weight: 400;
}
.box-form .form-ctrl button{
    width: 128px;
    height: 51px;
    border: 0;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #3d70b2;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.box-form .form-ctrl .box-result-search{
    height: 339px;
    background-color: white;
    position: absolute;
    width: 550px;
    top: 48px;
    z-index: 10;
    overflow-y: scroll;
    text-align: left;
    margin-left: 1px;
}
.box-form .form-ctrl .box-result-search::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

.box-form .form-ctrl .box-result-search::-webkit-scrollbar
 {
     width: 6px;
     background-color: #eeeeee;
 }

.box-form .form-ctrl .box-result-search::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #d8d8d8;
 }
.box-form .form-ctrl .box-result-search ul li {
    height: 78px;
    border-top: 2px solid #e9ecee;
    padding-left: 69px;
    cursor: pointer;

}
.box-form .form-ctrl .box-result-search ul li p{
    font-size: 16px;
    padding-top: 5px;
}
.box-form .form-ctrl .box-result-search ul li .box-icons-result .icon-custom{
    width: 36px;
    text-align: center;
    margin-right: 35px;
    display: inline-block;
}
.box-form .form-ctrl .box-result-search ul li .box-icons-result .icon-custom span{
    margin: 0 auto;
}
.box-form .form-ctrl .box-result-search ul li .box-icons-result .icon-custom p{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: -0.1px;
    color: #5aaafa;
    padding-top: 0px;
}
.box-form .form-ctrl .box-action{
    margin-top: 75px;
    z-index: 5;
}
.box-form .form-ctrl .box-action span{
    width: 143px;
    height: 143px;
    border-radius: 100%;
    background-color: white;
    display: block;
    margin: 0 auto;
 }
.box-form .form-ctrl .box-action p {
    color: white;
    margin-top: 7px;
    font-size: 18px;
}
.box-loadding{
    width: 550px;
    margin: 0 auto;
    color: white;
}
.box-loadding p{
    display: inline-block;
    padding: 0 25px;
    font-size: 16px;
}
@-webkit-keyframes fly {
    0% {
        top: 0%;
        left: 50%;
    }
    25% {
        top: 20%;
        left: 25%;
    }
   50% {
        top: 50%;
        left: 40%;
    }

    100% {
        top: 100%;
        left: 0%;
    }
}

@keyframes fly {
    0% {
        top: 0%;
        left: 50%;
    }
    25% {
        top: 20%;
        left: 25%;
    }
    50% {
        top: 50%;
        left: 40%;
    }

    100% {
        top: 100%;
        left: 0%;
    }
}


@keyframes ani-bee {
    0%{ left:50px;top: 700px;transform: rotate(0deg);}
    100% {left:50px;top: 200px;transform: rotate(0deg);}
}
@keyframes ani-bee2 {
    0%{ right:0px;top: 300px;transform: rotate(0deg);}
    10%{ right:100px;top: 300px;transform: rotate(90deg);}
    20%{ right:200px;top: 250px;transform: rotate(60deg);}
    30%{ right:300px;top: 200px;transform: rotate(40deg);}
    40%{ right:400px;top: 170px;transform: rotate(20deg);}
    50%{ right:500px;top: 200px;transform: rotate(0deg);}
    60%{ right:500px;top: 250px;transform: rotate(-20deg);}
    70%{ right:400px;top: 300px;transform: rotate(-40deg);}
    75%{ right:350px;top: 300px;transform: rotate(-60deg);}
    80%{ right:200px;top: 300px;transform: rotate(-60deg);}
    85%{ right:150px;top: 300px;transform: rotate(-60deg);}
    90%{ right:100px;top: 300px;transform: rotate(-80deg);}
    100% {right:0px;top: 200px;transform: rotate(-90deg);}
}
@keyframes ani-bee3 {
    0%{ right:700px;top: 700px;transform: rotate(0deg);}
    10%{ right:720px;top: 660px;transform: rotate(10deg);}
    20%{ right:740px;top: 620px;transform: rotate(20deg);}
    30%{ right:720px;top: 580px;transform: rotate(30deg);}
    40%{ right:700px;top: 540px;transform: rotate(40deg);}
    50%{ right:680px;top: 500px;transform: rotate(50deg);}
    60%{ right:660px;top: 460px;transform: rotate(60deg);}
    70%{ right:640px;top: 440px;transform: rotate(70deg);}
    75%{ right:620px;top: 400px;transform: rotate(80deg);}
    80%{ right:600px;top: 360px;transform: rotate(90deg);}
    85%{ right:580px;top: 320px;transform: rotate(100deg);}
    90%{ right:560px;top: 300px;transform: rotate(110deg);}
    100% {right:540px;top: 200px;transform: rotate(120deg);}
}
@keyframes ani-bee4 {
    0%{ right:220px;top: 400px;transform: rotate(180deg);}
    10%{ right:200px;top: 440px;transform: rotate(190deg);}
    20%{ right:180px;top: 480px;transform: rotate(200deg);}
    30%{ right:160px;top: 520px;transform: rotate(210deg);}
    50%{ right:200px;top: 560px;transform: rotate(220deg);}
    60%{ right:220px;top: 600px;transform: rotate(260deg);}
    70%{ right:240px;top: 560px;transform: rotate(290deg);}
    80%{ right:260px;top: 520px;transform: rotate(330deg);}
    90%{ right:280px;top: 480px;transform: rotate(350deg);}
    100% {right:300px;top: 440px;transform: rotate(360deg);}
}

#box {
    width: 43px;
    height: 33px;
    position: absolute;
    animation: ani-bee 10s linear infinite;
}
#box3 {
    width: 43px;
    height: 33px;
    position: absolute;
    animation: ani-bee3 20s linear infinite;
}
#box4 {
    width: 43px;
    height: 33px;
    position: absolute;
    animation: ani-bee4 10s linear infinite;
}
#box2 {
    width: 61px;
    height: 61px;
    position: absolute;
    animation: ani-bee2 20s linear infinite;
}
.box-action-step-1{
    z-index: 5;
    width: 690px;
    margin: 0 auto;
    display: inline-flex;
}
.box-action-step-1 .action-item{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.box-action-step-1 .action-item:nth-child(2){
    margin-right: 30px;
}
.box-action-step-1 .action-item:nth-child(2){
    margin-right: 30px;
}
.box-action-step-1 .action-item:nth-child(3){
    margin-left: 30px;
}
.box-action-step-1 .action-item.item-1{
    margin-top: 100px;
}
.box-action-step-1 .action-item.item-4{
    margin-top: 100px;
}
.box-action-step-1 span{
    width: 143px;
    height: 143px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px 2px rgba(98, 164, 206, 0.25);
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.box-action-step-1 span:hover{
    border: 5px solid #fff;
    box-sizing: content-box;
    box-shadow: 0 4px 10px 2px rgba(98, 164, 206, 0.5);
    margin: -5px;
}
.box-action-step-1 p {
    color: white;
    margin-top: 7px;
    font-size: 18px;
}
.box-home-mobile{
    display: none;
}
@media only screen and (max-device-width : 767px){
    .rp-mobile{
        background: linear-gradient(to top, #4075b8, #41d6c3);
    }
    .box-home{
        display: none;
    }
    .box-home-mobile{
        display: block;
    }

    .box-home-mobile .box-listening-voice{
        padding-top: 75px;
        position: relative;
    }
    .box-home-mobile .box-listening-voice .listening-text{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .box-home-mobile .box-listening-voice .listening-status{
        height: 400px;
        text-align: center;
    }
    .box-home-mobile .box-listening-voice .listening-status .box-content-voice-search{
        padding-top: 50%;
        color: #d0ecf3;

    }
    .box-home-mobile .box-listening-voice .listening-status .box-content-voice-search h3{
        font-weight: 600;
        color: white;
    }
    .box-home-mobile .box-listening-voice img{
        width: 100%;
        padding-top: 25%;

    }
    .box-home-mobile .box-listening-voice .listening-action{
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;

    }
    .box-home-mobile .box-form{
        width: auto;
        padding: 0 20px;
        text-align: center;
        padding-top: 100px;
    }
    .box-home-mobile .text-hello{
        color: #d0ecf3;
        margin-bottom: 30px;
        font-size: 17px;
        font-weight: 400;
    }
    .box-home-mobile .box-mix{
        position: absolute;
        bottom: 20px;
        text-align: center;
        left: 0;
        right: 0;
    }
    .box-home-mobile .form-ctrl input {
        width: 100%;
        height: 48px;
        border: 0;
        background-color: white;
        padding-left: 20px;
        border-radius: 0;

    }
    .box-home-mobile .form-ctrl .box-result-search{
        height: 150px;
        background-color: white;
        position: absolute;
        top: 48px;
        z-index: 10;
        overflow-y: scroll;
        text-align: left;
        left: 0;
        right: 0;
        width: auto;
    }
    .box-home-mobile .form-ctrl .box-result-search ul li {
        padding-left: 20px;

    }
    .box-home-mobile .form-ctrl .box-result-search ul li .box-icons-result .icon-custom{
       padding-top: 20px;
    }
}