a:hover, a:focus, a:hover p, select:hover, select:focus, select:active{
    text-decoration: none !important;
    outline: none !important;
}
a, a:link,a:active{
    text-decoration: none;
    outline: none !important;
}
a:hover{
    cursor: pointer;
}
