header{
    background-color: white;
}
.box-header{
    padding: 15px 30px 0 30px;
    height: 60px;
    position: relative;
    max-width: 1366px;
    margin: auto;
}
.box-header .logo {
    z-index: 10;
    font-size: 19px;
    color: #000;
    line-height: 25px;
    letter-spacing: -0.2px;
}
.box-header .logo img {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 2px;
}
.box-header .logo span {
    vertical-align: unset;
    font-weight: 600;
    padding-left: 14px;
}
.btn-login{
    width: 90px;
    height: 35px;
    border: solid 1px #3d70b2;
    line-height: 32px;
    text-align: center;
    background-color: white;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #3d70b2;
}
.box-menu{
    position: absolute;
    top: 0;
    left: 170px;
    right: 170px;
    bottom: 0;
    webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    text-align: center;
    z-index: 5;
}
.box-menu a{
    display: inline-block;
    padding: 11px 15px;
    text-align: center;
    color: #5a6872;
    font-size: 11px;
    letter-spacing: -0.4px;
}
.box-menu a:hover{
    border-top: 2px solid #54a7fa;
    padding-top: 9px;
    color: #54a7fa;
}
.box-menu a span {
    display: block;
    margin: 0 auto;
}
.box-home-mobile .box-menu-mobile{
    padding-top: 30px;
    text-align: center;
    position: relative;
}
.box-home-mobile .box-menu-mobile a {
    color: white;

}
.box-home-mobile .box-menu-mobile span {
    display: block;
    margin: 0 auto;
}
.header-mobile{
    display: none;
}
@media only screen and (max-device-width : 767px){
    .header-mobile{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        transition: 1s all;
    }
    .header-mobile .box-menu-mobile{
        padding-top: 20px;
    }
    .header-mobile .box-menu-mobile a{
        color: white;
        font-size: 20px;
    }
    .header-mobile .box-menu-mobile span{
        display: block;
        margin: 0 auto;
    }
    .box-list-menu{
        opacity: 0;
    }
    .header-mobile.show-menu{
        height: 200px;
        background-image: linear-gradient(86deg, #3d70b2, #5596e6 45%, #51a3df 56%, #51a4df 57%, #41d6c3);
        z-index: 1;
    }

    .show-menu .box-list-menu{
        opacity: 1;
    }
    .box-list-menu ul li {
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        padding: 10px;
    }
    .box-header{
        display: none;
    }

}